<html>
	<head>
		<title>Upload</title>

		<!-- cssの読み込み -->
		<link rel="stylesheet" type="text/css" href="{{ staticfile('style.css') }}">
	</head>

	<body>

    <div class="top_title">画像から音楽を生成</div>
		<p>画像の輝度値に応じたメロディを生成し、メロディに応じた和音進行を生成します</p>

		<ui>
			<li>画像のHSV値におけるV値のみを利用します</li>
			<li>メロディから和音進行を生成するモデルの重みはまだ学習途中です</li>
			<li>Uploadするファイルはpng, jpg, jpegのみ対応（上限1MB）</li>
		</ui>

    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file required>
      <input type=submit value=Upload>
    </form>

  </body>
</html>
